//dimensions
$card_height: 350px;
$img_height: 180px;

//font size
$apartment_title: 18px;

a.thumbnail.apartment_card {
    display: block;
    text-decoration: none;
    border: none;
    /* height: $card_height; */
    width: 80%;
    margin: 0 10px 15px 0; 
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;   
    
    div.img_cnt {        
        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }

    div.caption.info_section {
        padding: 0;
        margin-top: 8px;          

        p.apartment_title {
            margin: 5px 0 7px;
            font-size: $apartment_title;
            line-height: $apartment_title;
            // height: $apartment_title;
            color:  #244a61;
            text-transform: uppercase;
            font-weight: 500;
        }

        p.apartment_price {
            margin: 0 0 7px;
            font-size: $apartment_title - 3px;
            line-height: $apartment_title - 3px;
            height: $apartment_title - 3px;
            font-weight: 400;
        }

        p.apartment_distance {
            margin: 0 0 4px;
            font-size: $apartment_title - 5px;
            line-height: $apartment_title - 5px;
            height: $apartment_title - 5px;
            color: rgb(50, 205, 50);
            font-weight: 400;
        }

        small {
            font-weight: 400;
            color: rgb(182, 148, 11);
        }
    }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    a.thumbnail.apartment_card {
        display: block;
        text-decoration: none;
        
        width: 48%;
        margin: 0 10px 15px 0; 

        div.img_cnt {
            height: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        

        div.caption.info_section {
                    

            p.apartment_title {                
                font-size: $apartment_title;
                font-weight: 500;
            }

            p.apartment_price {               
                font-size: $apartment_title - 3px;
                font-weight: 400;
            }

            p.apartment_distance {                
                font-size: $apartment_title - 5px;
                font-weight: 400;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    a.thumbnail.apartment_card {        

        div.img_cnt {
            height: 60%;
            
        }      

        
    }
}

@media (min-width: 768px) {}

@media (min-width: 830px) {
    a.thumbnail.apartment_card {
        display: block;
        text-decoration: none;
        
        width: 31.5%;
        margin: 0 10px 15px 0; 

        div.img_cnt {
            height: 65%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        

        div.caption.info_section {
            
            

            p.apartment_title {                
                font-size: $apartment_title;
                font-weight: 500;
            }

            p.apartment_price {                
                font-size: $apartment_title - 3px;
                font-weight: 400;
            }

            p.apartment_distance {                
                font-size: $apartment_title - 5px;
                font-weight: 400;
            }
        }
    }
}

