$btn_color_primary: #fff;
$btn_color_secondary: rgba(36, 74, 97, 0.75);

.custom_button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $btn_color_primary;
    border-radius: 5px;
    outline: none;
    padding: 10px  15px;
    color: $btn_color_primary;
    font-weight: 400;
    cursor: pointer;

    &.large {
        width: 100%;
    }


    &:hover {
        background-color: $btn_color_primary;
        color: black;
        border: 1px solid $btn_color_primary;
        text-decoration: none;

    }
}

.custom_button_invert {
    background-color: rgba(36, 74, 97, 0.75);    
    border: 1px solid rgba(36, 74, 97, 0.75);  
    border-radius: 5px;
    padding: 10px  15px;
    outline: none;
    color: $btn_color_primary;
    font-weight: 400;
    cursor: pointer;

    &.large {
        width: 100%;
    }


    &:hover {
        background-color: $btn_color_secondary;
        color: $btn_color_primary;
        border: 1px solid $btn_color_secondary;
        text-decoration: none;

    }
}
