div.row {

    h1#search_title{
        text-align: center;
    }

    form#form_search_ajax{
        max-width: 500px;
        margin: 0 auto;

        input{
            border-style: none;
            border-bottom: 1px solid #000;
            outline: none;
            padding-left: 0;
        }

        ul.features_list{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-left: 0;

            li{
                width: 50%;
            }

            label.features_name{
                margin-left: 10px;
            }
        }
    }

    div.results-cnt {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 0;
    }

    div#not_found_msg_cnt{
        text-align: center;
    }
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    div.row {

        div.results-cnt {
            justify-content: start;
            
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 626px) {
    div.row {

        div.results-cnt {
            justify-content: start;
        }
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    div.row {

        form#form_search_ajax{

            ul.features_list{

                li{
                    width: 100%;
                }
            }
        }
        div.results-cnt {
            border-left: 1px solid lightgrey;

        }
    }
}

@media (min-width: 1200px) {}