div.row.finder_view {
    margin-top: -22px;

    h1#search_title{
        text-align: center;
        font-size: 24px;
        margin: 25px 0;

        span#address_searched {
            color: rgba(36, 74, 97, 0.75);
        }
    }
    
    div.filters-cnt {

        background-color: rgba(36, 74, 97, 0.75);
        padding-top: 10px;
        padding-bottom: 10px;

        form#form_search_ajax{
            max-width: 500px;
            margin: 0 auto;
            color: #fff;
    
            input{
                height: 40px;
                font-size: 23px;
                border-style: none;
                border-bottom: 1px solid #fff;
                background-color: rgba(0, 0, 0, 0);        
                outline: none;
                padding-left: 0;

                &[type="checkbox"] {
                    height: 13px;
                }

                &#address {
                    border-bottom-width: 2px;
                }
                
                &::placeholder {
                    font-weight: 200;
                    color: #fff;
                }
            }

            div.filter_cnt {
                input {
                    color: #fff;
                }
            }
    
            ul.features_list{
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding-left: 0;
    
                li{
                    width: 50%;
                }
    
                label.features_name{
                    margin-left: 10px;
                }
            }
        }
    }

    div.results-cnt {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 0;
    }

    div#not_found_msg_cnt{
        text-align: center;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    div.row.finder_view {

        div.results-cnt {
            justify-content: start;
            
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 798px) {
    div.row.finder_view {

        div.results-cnt {
            justify-content: start;
            margin-top: 0;
        }
    }
}

@media (min-width: 992px) {
    div.row.finder_view {

        h1#search_title{
            text-align: center;
            font-size: 28px;
            margin: 30px 0;
        }

        div.filters-cnt{
            border-right: 1px solid lightgrey;
            height: 100vh;

            form#form_search_ajax{
                
                input {
                    font-size: 18px;
                }

                ul.features_list{
    
                    li{
                        width: 100%;
                    }
                }
            }
        }

        div.results-cnt {
            margin-top: 0;
        }
    }
}
