$height_bottom_cnt : 400px;

div.wrapper {

    width: 100%;

    div.gallery-wrapper{
        padding: 0;        
        height: 240px;
        width: 100%;
        /* margin-top: -22px; */
    
        div.row{
            width: 100vw; 
            height: 100%;
            
            div.gallery_cnt{
                width: 100%;
                height: 100%;
                margin-top: -30px;
                padding: 0;
    
                div.carousel.slide{
                    height: 100%;
    
                    div.carousel-inner{
                        height: 100%;
                
                        .item{
                            img{
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }  
                }
            }
        }
    }
    
    div.detail_cnt{
        margin-top: 20px;
        overflow-x: hidden;

        div.detail_cnt_left {
            
            div.info_cnt {

                h1.title{
                    text-transform: uppercase;
                    margin-top: 0;
                    text-align: center;
                    font-size: 40px;
                    color: $color_secondary;
                }

                &.address_cnt{
                    text-align: center;
                    border-bottom: 1px solid lightgrey;
                    margin-bottom: 10px;

                    div.info_type {
                        font-weight: 500;
                        font-size: 20px;
                        color: $color_secondary;        
                    }
                }
            }
            
            div.features_cnt{
                display: flex;
                flex-wrap: wrap;
        
                div.info_cnt{
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom: 15px;
    
                    div.icons_field{
                        width: 20%;
                        font-size: 25px;
                        color: $color_secondary;
                    }
        
                    div.info_type{
                        width: 60%;
                        font-size: 22px;
                        font-weight: 300;
                        text-align: left;
                    }
            
                    div.info_values{
                        width: 20%;
                        text-align: right;
                        font-size: 20px;
                        font-weight: 800;
                    }
                }
            }
        
            div.info_cnt.services{
                border-top: 1px solid lightgrey;
                padding: 10px 0;
                
        
                span.info_type{
                    display: block;
                    text-align: center;
                    font-size: 22px;
                    font-weight: 500;
                    color: $color_secondary; 
                }
        
                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
        
                    li{
                        font-weight: 300;
                        width: 33.3%;
                        font-size: 18px;
                    }
                }
            }
        }
        div.send_message_cnt{
        
                input{
                    border-radius: 0;
                    border-style: none;
                    border-bottom: 1px solid #000;
                    outline: none;
                    box-shadow: none;
                    margin: 1px 0 10px 0;
                    &.btn_no_border{
                        border: none;
                    }
                }
                
                input[type="submit"] {
                    margin-top: 10px;
                }
        
                textarea:focus{
                    outline: none;
                }
        
            }
    
    
    }
    .send_message_cnt * {
        padding-left: 0;
    }
    
    div.map_wrapper{
        padding: 0;
        width: 100%;
        
        div.row {
            width: 100vw;
            .map_cnt {
                width: 100vw;
                height: $height_bottom_cnt;
                margin-top: 20px;
                padding: 0;
                & #map {
                    height: 100%;
                }
            }
        }
    }
}

@media (min-width: 576px) {
   
    div.wrapper {
        div.gallery-wrapper{
            padding: 0;        
            height: 340px;
            width: 100%;
            /* margin-top: -22px; */
        
            div.row{
                width: 100vw; 
                height: 100%;
                
                div.gallery_cnt{
                    width: 100%;
                    height: 100%;
                    margin-top: -30px;
                    padding: 0;
        
                    div.carousel.slide{
                        height: 100%;
        
                        div.carousel-inner{
                            height: 100%;
                    
                            .item{
                                img{
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }  
                    }
                }
            }
        }

        div.detail_cnt{
            margin-top: 20px;
            overflow-x: hidden;

            div.detail_cnt_left {
                
                div.info_cnt {

                    &.address_cnt{
                        
                        div.info_type {
                            font-weight: 500;
                            color: $color_secondary;        
                            font-size: 28px;
                        }

                        div.address.info_values {
                            font-size: 22px;
                        }
                    }
                }
                
                div.info_cnt.services{
                    border-top: 1px solid lightgrey;
                    padding: 10px 0;
                    
            
                    span.info_type{
                        display: block;
                        text-align: center;
                        font-size: 22px;
                        font-weight: 500;
                        color: $color_secondary; 
                    }
            
                    ul{
                        list-style: square;
                        padding: 0;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
            
                        li{
                            font-weight: 300;
                            width: 23%;
                            font-size: 20px;
                        }
                    }
                }   

            }
        
        }
    }
}


@media (min-width: 768px) {
   
    div.wrapper {
        div.gallery-wrapper{
            padding: 0;        
            height: 500px;
            width: 100%;
            /* margin-top: -22px; */
        
            div.row{
                width: 100vw; 
                height: 100%;
                
                div.gallery_cnt{
                    width: 100%;
                    height: 100%;
                    margin-top: -30px;
                    padding: 0;
        
                    div.carousel.slide{
                        height: 100%;
        
                        div.carousel-inner{
                            height: 100%;
                    
                            .item{
                                img{
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }  
                    }
                }
            }
        }
        div.detail_cnt{

            div.detail_cnt_left {
                
                div.info_cnt {

                    &.address_cnt{
                        text-align: center;
                        border-bottom: 1px solid lightgrey;
                        margin-bottom: 10px;

                        div.info_type {
                            font-weight: 500;
                            font-size: 20px;
                            color: $color_secondary;        
                        }
                    }
                }

                div.features_cnt{
                    display: flex;
                    flex-wrap: wrap;
            
                    div.info_cnt{
                        width: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin-bottom: 15px;
    
                        div.icons_field{
                            width: 20%;
                            font-size: 25px;
                            color: $color_secondary;
                        }
            
                        div.info_type{
                            width: 60%;
                            font-size: 22px;
                            font-weight: 300;
                            text-align: left;
                        }
                
                        div.info_values{
                            width: 20%;
                            text-align: right;
                            font-size: 20px;
                            font-weight: 800;
                        }
                    }
                }
            
                div.info_cnt.services{
                    border-top: 1px solid lightgrey;
                    padding: 10px 0;
                    
            
                    span.info_type{
                        display: block;
                        text-align: center;
                        font-size: 22px;
                        font-weight: 500;
                        color: $color_secondary; 
                    }
            
                    ul{
                        list-style: square;
                        padding: 0;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
            
                        li{
                            font-weight: 300;
                            width: 25%;
                            font-size: 18px;
                        }
                    }
                }
                
            }
        
        
            
        }
    }
}

@media (min-width: 992px) {
   
    div.wrapper {
        div.gallery-wrapper{
            padding: 0;        
            height: 600px;
            width: 100%;
            /* margin-top: -22px; */
        
            div.row{
                width: 100vw; 
                height: 100%;
                
                div.gallery_cnt{
                    width: 100%;
                    height: 100%;
                    margin-top: -30px;
                    padding: 0;
        
                    div.carousel.slide{
                        height: 100%;
        
                        div.carousel-inner{
                            height: 100%;
                    
                            .item{
                                img{
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }  
                    }
                }
            }
        }

        div.detail_cnt{

            div.detail_cnt_left {
            
                div.info_cnt.services{
                    border-top: 1px solid lightgrey;
                    padding: 10px 0;
                    
            
                    span.info_type{
                        display: block;
                        text-align: center;
                        font-size: 22px;
                        font-weight: 500;
                        color: $color_secondary; 
                    }
            
                    ul{
                        
                        li{
                            width: 30%;
                            font-size: 20px;
                        }
                    }
                }
                
            }
            
        }
        
    }
}



