$height_bottom_cnt : 400px;

div.gallery-wrapper{
    padding: 0;
    height: 700px;
    margin-top: -22px;

    div.row{
        height: 100%;

        div.gallery_cnt{
            height: 100%;

            div.carousel.slide{
                height: 100%;

                div.carousel-inner{
                    height: 100%;
            
                    .item{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }  
            }
        }
    }
}
div.detail_cnt{
    margin-top: 20px;

    div.features_cnt{

        h1.title{
            margin-top: 0;
            font-size: 50px;
            border-bottom: 1px solid lightgrey;
        }

        span.info_type{
            font-size: 28px;
        }

        span.info_values{
            font-size: 22px;
        }

        div.info_cnt.services{
            border-top: 1px solid lightgrey;
            padding: 10px 0;

            ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;

                li{
                    width: 50%;
                    font-size: 22px;
                }
            }
        }
    }

    div.send_message_cnt{

        input{
            border-radius: 0;
            border-style: none;
            border-bottom: 1px solid #000;
            outline: none;
            box-shadow: none;

            &.btn_no_border{
                border: none;
            }
        }
        textarea:focus{
            outline: none;
        }
    }
}
.send_message_cnt * {
    padding-left: 0;
}

div.map_wrapper{
    padding: 0;
    
    .map_cnt {
        height: $height_bottom_cnt;
        margin-top: 20px;
        & #map {
            height: 100%;
        }
    }
}

@media (min-width: 576px) {
   
    div.detail_cnt{
    
        div.features_cnt{
    
            div.info_cnt.services{

                ul{
                
                    li{
                        width: 33%;
                    }
                }
            }
        }
    }
}
