$height_bottom_cnt : 400px;

.carousel-inner{
    .item{
        img{
            width: 100%;
        }
    }
}

.send_message_cnt * {
    padding-left: 0;
}

.map_cnt {
    height: $height_bottom_cnt;
    & #map {
        height: 100%;
    }
}