div.section_cnt {
    
    div#section_title {
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin-top: 60px 0 30px 0;
        text-align: center;
        font-size: 25px;        
    }

    div.apartments-list-cnt {

        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div.card {
            
            margin: 10px;      
            height: 250px;
            width: 325px;
            /* float: left; */
            //change card background color and opacity of img depending on if it is active
            &.disabled-card {
                background-color: lightgrey !important;
                border-radius: 8px;
                
                img {
                    opacity: 0.2;
                }
            }

            div.img_cnt {
                
                width: 100%;
                height: 180px;
                img {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

            }

            div.card-body {

                display: flex;
                flex-wrap: wrap;
                height: 70px;

                h5.card-title {
                    margin: 0;
                    height: 35px;
                    line-height: 35px;
                    /* padding-left: 5px;
                    border-left: 1px solid $color_secondary;
                    border-right: 1px solid $color_secondary; */
                    width: 100%;
                    text-transform: uppercase;
                    font-size: 18px;
                    color: $color_secondary;
                }

                a.custom_btn_show {
                    width: 40%;
                    padding: 5px 5px;
                    height: 35px;
                    border-radius: 0;
                    border-bottom-left-radius: 8px;
                    border: 1px solid $color_secondary;
                    color: $color_secondary;
                    background-color: $color_primary;
                    outline: none;
                    
                    &:hover{
                        text-decoration: none;
                        color: $color_primary;
                        background-color: $color_secondary;
                    }
                }

                a.custom_btn_delete {
                    text-align: center;
                    vertical-align: middle;
                    width: 20%;
                    height: 35px;
                    padding: 5px 5px;
                    border-radius: 0;
                    border: none;
                    border-top: 1px solid $color_secondary;
                    border-bottom: 1px solid $color_secondary;
                    color: red;
                    background-color: $color_primary;
                    outline: none;

                    &:hover {
                        text-decoration: none;
                        background-color: rgba(255, 0, 0, 0.82);
                        color: $color_primary;
                    }
                }
                
                form {
                    width: 40%;
                    height: 35px;

                    input.custom_btn_disable {
                        width: 100%;
                        height: 35px;
                        padding: 5px 5px;
                        border: 1px solid $color_secondary;
                        color: $color_secondary;
                        background-color: $color_primary;
                        border-radius: 0;
                        border-bottom-right-radius: 8px;
                        outline: none;

                        &:hover{
                            color: $color_primary;
                            background-color: $color_secondary;
                        }
                    }
                }

            }

        }

        div.add_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            

            button#addApartment {

                width: 200px;
                height: 200px;
                border-radius: 35%;
                font-size: 200px;
                line-height: 200px;
                background-color: #fff;
                border-width: 8px;
                border-style: dashed;
                outline: none;
                /* display: flex;
                justify-content: center;
                align-items: center; */

                span {
                    display: block;   
                    height: 100px;
                    line-height: 100px;
                }

            }
        }
    }
}

div.delete-popup {
    width: 350px;
    height: 150px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color_secondary;
    border: 1px solid $color_primary;
    color: $color_primary;
    border-radius: 10px;
    z-index: 5;

    h2 {
        font-size: 18px;

    }

    form#delete_form {
        display: flex;
        width: 50px !important;
        float: left;
        input {
            border-color: red;
            color: red;
            margin-right: 10px;
        }
    }
}

div.apartments-add-form{
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10px;
    padding-top: 10px;
    width: 340px;
    margin: 0 auto;

    div.row {
        width: 340px;
        margin: 0 auto;
        div.inner_cnt {
            background-color: $color_secondary;
            /* border: 1px solid $color_primary; */
            border-radius: 10px;

            div.form_title {
                text-align: center;
                font-size: 25px;
                color: $color_primary;
                margin: 8px 0;        
            }
        
            div.form-group {
                label {
                    color: $color_primary;
                }
                
                div {
                    input {
                        outline: none;
                    }
                }
        
                div.features_cnt {
                    div.feature {
                        width: 100%;
                        display: flex;
                        justify-content: start;
                    }
                }
            }

            div.btn_cnt {
                margin-bottom: 0;
                div {
                    padding: 0;
                    display: flex;

                    button {
                        width: 70%;
                        border-radius: 0;
                        border-bottom-left-radius: 10px;
                        
                        &.cancel{
                            border-radius: 0;
                            width: 30%;
                            border-left: none;
                            border-bottom-right-radius: 10px;

                            &:hover {
                            /* border: 1px solid $color_secondary; */
                            border-left: none;
                            }
                        }


                        &:hover {
                            border: 1px solid $color_secondary;
                        }

                    }
                }
            }
        }
    }

}






@media (min-width: 576px) { 
    div.section_cnt {
        div.apartments-list-cnt {            
            justify-content: center;
            margin-top: 100px;                   
        }
    }

    div.apartments-add-form{
        display: none;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 10px;
        padding-top: 10px;
        width: 500px;
        margin: 0 auto;

        div.row {
            width: 500px;
            
        }

    }
}

@media (min-width: 992px) { 
    div.section_cnt {
        div#section_title {            
            height: 80px;
            line-height: 80px;
            margin-top: 80px 0 30px 0;            
            font-size: 35px;        
        }
        div.apartments-list-cnt {            
            margin-top: 40px;                   
        }
    }
}

@media (min-width: 1295px) { 
    div.section_cnt {
        div.apartments-list-cnt {            
            justify-content: start;  
        }
    }
}


